
/* main title */
.title h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.title hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
    width: 90%;
}

/* classes of the images */
.image1 {
    max-width: 320px;
    float: right;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.image2 {
    max-width: 320px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    margin-right: 15px;
    ;
}

.image3 {
    max-width: 320px;
    float: left;
    border-radius: 10px;
    margin-right: 15px;


}

/* banner which is at the end of the page */
.banner .bannerTxt .imagex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
}

.banner .bannerTxt h4 {
    margin-bottom: 3%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* container for a description and an image */
.wrapper {
    margin: 130px auto;
    width: 70%;
}

/* text box which contains descriptios */
.text-box {
    color: #000000;

}

.text-box h2 {
    font-size: 42px;
}

.text-box p {
    font-size: 16px;


}

.text-box3 p {
    font-size: 16px;
    text-align: justify;
    padding-left: 25vw;


}

.text-box2 {
    float: left;
    width: 65%;
    /* Adjust the width as needed */
}

.text-box2 h2 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;


}

/* this contains all the contents */
.container {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: auto;
    margin-bottom: 300px;
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    padding-bottom: 70px;
}


.wrapper1 {
    margin: 130px auto;
    width: 70%;
    padding-top: 100px;
}



.titleimg {
    float: right;
    width: 30%;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 5%;
}


/* stylings of the top description */

.wrappertxt {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}

.wrappertxt span {
    display: flex;
    flex-direction: column;
}

.wrappertxt p {
    margin-bottom: 20px;
    /* Adjust the value as needed for desired spacing */
}

/* top image */
.bottomimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 2%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


}

/* main heading */
.title h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10%;

}
.title p{

    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title hr {
    position: relative;
    top: 20px;
    border: none;
    height: 12px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
    width: 90%;
}

/* styling for the background  and the major container*/
.container {
    background-color: rgb(192, 190, 197);
    margin-top: auto;
    margin-bottom: 300px;
    margin-top: 300px;
    margin-left: 10%;
    margin-right: 6%;
    border-radius: 20px;
    padding-bottom: 70px;
}

/* subtitles */
.subtitle h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align: center;

}

.subtitle hr {
    position: relative;
    top: 20px;
    border: none;
    height: 6px;
    background: rgb(0, 0, 0);
    margin-bottom: 50px;
    width: 90%;
}
/* this contains for cards */
.endpics {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;

}

.endpics .card {
    width: 308px;
    position: relative;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.2px 5px #000000;
    transition: 0.5s ease-in-out;
    margin-top: 5%;
    margin: 10px;
}

/* images inside the card */
.endpics .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0.5px 20px rgba(255, 255, 255, 0.5);
}

.endpics .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
}

.imgBx:hover img {
    transform: scale(1.1);
}

.endpics .card h2 {
    text-align: center;
}

.endpics .card p {
    text-align: justify;

}

/* the end picture */
#end {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    opacity: 0.5;

}

.bannerTxt {
    position: absolute;
    top: 25%;
    color: rgb(0, 0, 0);
    padding: 10px;

}

.bannerTxt h4 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    align-items: justify;
    color: rgb(0, 0, 0);
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.banner {
    margin-top: 5%;
    position: relative;
}

/* navbar stylings */

#navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* Background color */
    overflow: hidden;
    padding-right: 20%;
    margin-bottom: 2%;
}

#navlist li {
    float: right;
    display: inline;
    padding: 1px;
}

#navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navlist li a:hover {
    background-color: #555;
    /* Hover background color */
}

/* Add border to separate navigation items */


#navlist li {
    border-right: 1px solid white;
}

#navlist li:last-child {
    border-left: 1px solid white;
}

/* ids to margins */
#list1{
    margin-top: 18%;
}

#list2{
    margin-top: 18%;
}

#list3{
    margin-top: 18%;
}