#article{
	margin-top: 18vh;
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #C0BEC5;
    padding: 5%;
    padding-top: 1%;
}

#article-title h1{
	text-align: center;
	font-size: 600%;
    color: #000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.link {
    padding-top: 17vh;
}

/* Article nav bar */
#article-nav {
    background-color: #222222;
    border-radius: 10px;
    position: sticky;
    top: 17vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 5;
}
#article-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
 
}
#article-nav ul li {
    padding: 1%;
}
#article-nav ul li:hover {
    background-color: #5AAE11;
}
#article-nav ul li a {
    text-decoration: none;
    color: #5AAE11;
}
#article-nav ul li:hover a {
    color: #222222;
}

/* Intro */
#intro {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 57.5% 37.5%;
    column-gap: 5%;
}
#intro p {
    text-align: center;
}
#intro img {
    width: 100%;
    height: 100%;
    transform: perspective(500px);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
#intro img:hover {
    transform: perspective(500px) rotateY(-15deg);
}

/* Sustainable practices */
#practices {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: 3%;
    row-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
}
.practice {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.practice img {
    width: 100%;
    height: 60%;
}
.practice img:hover {
    transform: rotate(1deg);
    animation: imageSwing 0.5s forwards;
}
@keyframes imageSwing {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(3deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
}
.practice h3 {
    text-align: center;
    padding: 2%;
    margin: 0;
}
.practice p{
    font-size: 90%;
    padding: 0 2%;
    text-align: center;
}

/* Benefits */
#benefits {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.benefit {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 15vh;
    margin: 8vh 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.benefit h3 {
    color: #fff;
    font-size: 1.7vw;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 4%;
}
.benefit:nth-of-type(1) h3{
    background-color: #5AAE11 ;
}
.benefit:nth-of-type(2) h3{
    background-color: #4C9E0F ;
}
.benefit:nth-of-type(3) h3{
    background-color: #3D8E0D ;
}
.benefit:nth-of-type(4) h3{
    background-color: #2E7E0B ;
}
.benefit p {
    box-sizing: border-box;
    background-color: #fff;
    font: 1vw;
    height: 100%;
    margin: 0;
    padding: 3% 2% 3% 4%
}

/* Challenges */
#challenges {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: 3%;
    grid-template-columns: repeat(3, 1fr);
}
.challenge {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: 0.35s;
}
.challenge img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(255,49,49,0.9);
}
.challenge h3 {
    text-align: center;
}
.challenge p {
    padding: 0 5%;
    text-align: justify;
}
.challenge:hover {
    background-color: rgb(255,49,49);
    box-shadow: 0 0 15px rgba(255,49,49,1);
    color: #fff;
}

/* Opportunities */
#opportunities {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: 3%;
    grid-template-columns: repeat(3, 1fr);
}
.opportunity {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    transition: 0.35s;
}
.opportunity img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,191,99,0.9);
}
.opportunity h3 {
    text-align: center;
}
.opportunity p {
    padding: 0 5%;
    text-align: justify;
}
.opportunity:hover {
    background-color: rgb(0,191,99);
    box-shadow: 0 0 15px rgba(0,191,99,1);
    color: #fff;
}

/* Trends */
#trends {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.trend div h3 {
    width: 100%;
    text-align: center;
    font-size:1.6vw;
}
.trend div {
    display: inline;
    align-self: center;
}
.trend {
    width: 100%;
    display: grid;
    column-gap: 5%;
    box-sizing: border-box;
    grid-template-columns: 40% 55%;
    margin-top: 8%;
    padding: 3%;
}
.trend img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    transform: perspective(500px);
}
.trend:hover {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.trend:hover img {
    transform: perspective(1000px) rotateY(7deg);
}

/* General classes */
.section-title {
    text-align: center;
    font-size: 3vw;
    color: #000;
    text-shadow: 0 0 5px #00000072;
}

/* Conclusion */
#conclusion {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#conclusion p {
    font-size: 1.35vw;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;  
}
.container .card .face{
    width:400px;
    height: 200px;
    transition:.4s;
}
.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 0 0 60px whitesmoke,
      inset 20px 0 80px #39FF14,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #39FF14,
      inset -20px 0 300px #0ff,
      0 0 50px #fff,
      -10px 0 80px #39FF14,
      10px 0 80px #0ff;  
}
.container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
}
.container .card .face.face1 .content h3{
    font-size: 1.8vw;
    color: white;
    text-align: center;  
}
.container .card .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
}
.container .card:hover .face.face2{
    transform: translateY(0);
}
.container .card .face.face2 .content p{
    margin: 0 ;
    padding: 0;
    color:#333;
}