* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F0f0f0;
    color: #000;
}

::-webkit-scrollbar {
    display: none;
}


/* Page name */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.title {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    height: 20vh;
}
.title h2 {
	color: #fff; 
	font-size: 15vh;
	position: absolute;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.title h2:nth-child(1) {
    -webkit-text-stroke: 5px rgba(0, 0, 0, 0.5); 
}
.title h2:nth-child(2) {
    color: #525252; 
	animation: page-name-animate 4s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
@keyframes page-name-animate {
    0%, 100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}
	50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}
#hi {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    color: #525252; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding-top: 3vh;
}

/* section headings */


/* Profile pic*/
#profile-photo {
    height: 50vh;
    padding: 5%;
    width: auto;
    margin: 5% auto 5% auto;
    border-radius: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Intro */
.intro {
    display: grid;
    column-gap: 5%;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 30% 1fr;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.intro-text {
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 1.15em;
    color: black;
}


/* Contributions */
#contributions {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    column-gap: -10%;
    grid-template-columns: repeat(3, 1fr);
    perspective: 900px;
    margin-bottom: 5vh;
}
.contribution {
    width: 100%;
    transition: .5s all ease;
    transform: rotateX(45deg) scale(0.7);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.contribution:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) ;
    transition: .5s all ease;
    z-index: 400;
  }
.contribution p {
    width: 90%;
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.contribution img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.contribution h2 {
    padding: 5%;
    text-align: center;
}
.contribution .btn {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a {
    box-sizing: border-box;
    position: relative;
    padding: 2% 2%;
    display: block;
    text-decoration: none;
    width: 150px;
    overflow: hidden;
    border-radius: 40px;
    text-align: center;
}
.btn a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    z-index: 1;
    width: 80%;
}
.btn a .liquid {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    top: -80px;
    left: -50px;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}
.btn a .liquid::after,
.btn a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}
.btn a .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate-btn 5s linear infinite;
}
.btn a .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate-btn 10s linear infinite;
}
.btn a:hover .liquid {
    top: -120px;
}
@keyframes animate-btn {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* Skills */
.skills-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2.5%;
    margin-bottom: 5vh;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.skills-container:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.skill {
    margin-bottom: 10px;
}
.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}
.skill-bar {
    position: relative;
    width: 100%;
    background-color: #ddd;
    text-align: right;
    padding: 5px;
    color: black;
    border-radius: 5px;
}
.skill-bar.html {
    background-color: #cdb4db ;
    width: 90%;
}
.skill-bar.css {
    background-color: #ffc8dd ;
    width: 70%;
}
.skill-bar.js {
    background-color: #ffafcc ;
    width: 80%;
}
.skill-bar.python {
    background-color: #bde0fe ;
    width: 85%;
}
.skill-bar.java {
    background-color: #a2d2ff ;
    width: 75%;
}
.skill-bar.matlab {
    background-color: #E6BEDC ;
    width: 10%;
}


/* Socials */
.socials-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    margin: 0 5px;
}
ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
}
ul li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
}
ul li a {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}
ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}
ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}
ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}
ul li:hover .fa {
    color: #fff;
}
ul li:hover span {
    color: #fff;
}
ul li:hover:nth-child(1) a {
    background: #4078c0;
}
ul li:hover:nth-child(1) a:before {
    background: #254e8c;
}
ul li:hover:nth-child(1) a:after {
    background: #5b8acc;
}
ul li:hover:nth-child(2) a {
    background: #3b5998;
}
ul li:hover:nth-child(2) a:before {
    background: #365492;
}
ul li:hover:nth-child(2) a:after {
    background: #4a69ad;
}
ul li:hover:nth-child(3) a {
    background: #0077B5;
}
ul li:hover:nth-child(3) a:before {
    background: #00669c;
}
ul li:hover:nth-child(3) a:after {
    background: #1692cd;
}
ul li:hover:nth-child(4) a {
    background: #e4405f;
}
ul li:hover:nth-child(4) a:before {
    background: #d81c3f;
}
ul li:hover:nth-child(4) a:after {
    background: #e46880;
}


/* Return home */

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: white;
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.button-arounder {
    font-size: 2rem;
    background: hsl(190deg, 30%, 15%);
    color: hsl(190deg, 10%, 95%);
    box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
    transform: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: border-top-left-radius .15s .15s ease-out, border-top-right-radius .15s .3s ease-out, border-bottom-right-radius .15s .45s ease-out, border-bottom-left-radius .15s .6s ease-out, box-shadow .6s ease-out, transform .6s ease-out, background .6s steps(4, jump-end);
}
.button-arounder:hover,
.button-arounder:focus {
    box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
    transform: translateY(-4px);
    background: hsl(230deg, 50%, 45%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


/* Section titles */
.section-title {
    font-size: 400%;
    text-align: center;
}
hr {
    width: 80%;
    height: 4px;
    background-color: black;
    margin: 0 auto 0 auto;
}
hr.after {
    margin-bottom: 5vh;
}