.headimg img {
	float: right;
	border-radius: 50%;
	margin-top: 3%;
	width: 30%;
	margin-right: 2%;

	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.headimg hr {
	height: 1px;
	background-color: rgb(0, 0, 0);
}

/* title heading */
.author .heading .headimg h1 {
	font-size: 600%;
	padding-top: 10%;
	padding-left: 10
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 100px;
}

.card {
	width: 325px;
	background-color: aliceblue;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0, 2);
	margin: 20px;
}

.card img {
	width: 100%;
	height: auto;
}

.card-content h3 {
	font-size: 28px;
	margin-bottom: 8px;
	margin-left: 4%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.card-content p {
	color: #666;
	font-size: 18px;
	line-height: 1.3;
	padding-left: 4%;

}

.card-content .btn {
	display: inline-block;
	padding: 8px 16px;
	background-color: #333;
	text-decoration: none;
	border-radius: 4px;
	margin-top: 16px;
	color: #fff;
	margin-left: 4%;
	margin-bottom: 4%;
}

.magazine {
	width: 800px;
	/* Increased width */
	height: auto;
	/* Set height to auto to maintain aspect ratio */
	margin: 0 auto;
	padding: 30px;
	margin-top: 10%;
	border-radius: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: rgb(133, 212, 231);
	margin-bottom: 30px;
}


.magazine h2 {
	margin-bottom: 20px;
}

.magazine p {
	line-height: 1.4;
}

.magazine::after {
	content: "";
	display: block;
	clear: both;
}

.magazine img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	float: left;
	shape-outside: content-box;
	margin: 0 40px 20px 0;
	/* Increased margin for more space */
	margin-right: 10%;
	transition: width 2s, height 2s, transform 2s;

}

.magazine img:hover {
	width: 300px;
	height: 300px;
	transform: rotate(360deg);
}


/* class which contains all the contents */
.author {
	background-color: rgb(202, 240, 240);
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 5%;
	margin-right: 5%;

}

.work hr {
	height: 2px;
	background-color: black;
}


.text {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 5%;
}


p {
	font-size: 20px;
}

.container {
	background-color: rgb(192, 192, 192);
	width: 85%;
	border-radius: 15px;
}
/* progression bar */
.skill {
	background-color: rgb(53, 177, 156);
	color: white;
	padding: 1%;
	text-align: right;
	font-size: 20px;
	border-radius: 15px;
}

.html {
	width: 80%;
}

.java {
	width: 60%;
}

.python {
	width: 60%;
}

.css {
	width: 60%;
}

.Eng {
	width: 95%;
}

.sin {
	width: 100%;
}


/* container which contains my skills */
.prog {
	background-color: rgb(145, 209, 238);
	border-radius: 15px;
	width: 80%;
	/* Adjust as needed */
	margin: 0 auto;
	/* Center horizontally */
	padding-bottom: 10%;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.prog h1 {
	text-align: center;
}

.prog .hobby {
	font-size: 5vh;
	color: rgb(53, 177, 156);
	background-color: #fff;
	padding: 20px;
}

.prog h2 {
	padding-top: 5%;
}

.code {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* works of mine description  */
.main {
	text-align: center;
}

.main h1 {
	font-family: 'Times New Roman', Times, serif
}

/*  styling elements with the class "grid-container" */

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 3%;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 10px;
	border-radius: 5%;

}
/*  styling for direct child div elements of grid-container */

.grid-container>div {
	text-align: center;
	font-size: 30px;
	width: 37vw;
	padding-bottom: 8%;
}

/* my skills title */
.work {
	padding: top 10%;
	text-align: center;
	padding-bottom: 5%;
}
/* icon effects */
.fa-chess,
.fa-computer,
.fa-book,
.fa-futbol,
.fa-gamepad,
.fa-cat {
	padding-left: 5%;
}


.fb {
	margin-top: 6%;
	text-align: right;
	font-size: 200%;
}
.fa-github,
.fa-facebook,
.fa-instagram,
.fa-linkedin {
	padding-left: 3%;
}

/* class contain the home button */
.return {
	text-align: center;

	width: 15%;
	margin-left: auto;
	margin-right: auto;
}

/* home button */

#j {
	width: 150px;
	height: 60px;
	border: 3px solid #16b5ca;
	border-radius: 45px;
	transition: all 0.3s;
	cursor: pointer;
	background: white;
	/* 1.2 times than the default font size */
	font-size: 1.2em;
	font-weight: 550;
	font-family: 'Montserrat', sans-serif;
}

#j:hover {
	background: #0fa4b881;
	color: white;
	font-size: 1.5em;
}

/* desiprion which contain my works */
.main hr {
	height: 3px;
	background-color: black;
}

.main .aru {
	margin-bottom: 10vh;
}

.main .aru h1 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.prog h2 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.prog h2 {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* readmore button effects */

.h {
	--color: #1cbde6;
	font-family: inherit;
	display: inline-block;
	width: 8em;
	height: 2.6em;
	line-height: 2.5em;
	margin: 20px;
	position: relative;
	overflow: hidden;
	border: 2px solid rgb(71, 71, 71);
	transition: color .5s;
	z-index: 1;
	font-size: 17px;
	border-radius: 6px;
	font-weight: 500;
	color: black;
}

.h:before {
	content: "";
	position: absolute;
	z-index: -1;
	background: var(--color);
	height: 150px;
	width: 200px;
	border-radius: 50%;
}

.h:hover {
	color: #fff;
}

.h:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

.h:hover:before {
	top: -30px;
	left: -30px;
}

.h:active:before {
	background: #3a0ca3;
}

