body{
    background-image: url(../images/Linal/Artboard\ 1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0;
	margin: 0;
    width: 100vw;
    /* overflow-x: hidden; */
}

::-webkit-scrollbar{
    display: none;
}
.firstname h1{
    color: #ffffff;
    align-items: center;
	justify-content: center;
	font-size: 900%;
	text-align: justify;
    margin-top: 0;
    margin-bottom: 0;

}
.firstname p{
    color: #ffffff;
    align-items: center;
	justify-content: center;
	
	font-size: 300%;
	text-align: justify;
    margin-top: 0;
    margin-bottom: 0;

}
.firstname{
    padding: 4%;
    margin-top: 8%;
    margin-left: 5%;
}
.firstname h1:hover{
    text-shadow: 3px 3px 4px rgb(0, 225, 255);
    cursor: pointer;
}
#firstcontent{
    background-color: #ffffff;
    width: 100vw;
    margin-top: 8%;
    
	}


  

#intro1{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 37.5% 57.5%;
    column-gap: 5%;
    width: 100vw;
    align-items: center;
	justify-content: center;
    padding: 5%;
}
#intro img{
    height: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
#intro1 .intro-text h1{
    font-size: 800%;
    width: 100%;
}
#intro .intro-text p{
    font-size: 200%;
}



.wrapper{
   
    width: 430px;
    padding: 45px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .circular-bar1{
    width: 260px;
    height: 260px;
    background: conic-gradient(#4285f4 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
  }
  
  .circular-bar1::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: #e8f0f7;
    border-radius: 50%;
    
    
  }
  
  .percent1{
    z-index: 10;
    font-size: 30px;
  }
  
  label{
    font-size: 30px;
    font-weight: bold;
  }



  .circular-bar2{
    width: 260px;
    height: 260px;
    background: conic-gradient(#4285f4 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
  }
  
  .circular-bar2::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: #e8f0f7;
    border-radius: 50%;
    
    
  }
  
  .percent2{
    z-index: 10;
    font-size: 30px;
  }

  .circular-bar3{
    width: 260px;
    height: 260px;
    background: conic-gradient(#4285f4 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
  }
  
  .circular-bar3::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: #e8f0f7;
    border-radius: 50%;
    
    
  }
  
  .percent3{
    z-index: 10;
    font-size: 30px;
  }
  #skills{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #38b6ff77;
    border-radius: 25px;
  }
  #skilltitle{

    text-align: center;
    font-size: 500%;

    
  }
  #skillsubtitle{
    text-align: center;
    font-size: 200%;
    margin-top: 0%;
  }
  #skills1{
    display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-template-rows: 1fr ;
  background-color: #38b6ff77;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
   
    

  }
  .circular-bar4{
    width: 260px;
    height: 260px;
    background: conic-gradient(#4285f4 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
  }
  
  .circular-bar4::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: #e8f0f7;
    border-radius: 50%;
    
    
  }
  
  .percent4{
    z-index: 10;
    font-size: 30px;
  }
  .circular-bar5{
    width: 260px;
    height: 260px;
    background: conic-gradient(#4285f4 1.5deg, #e8f0f7 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-bottom: 40px;
  }
  
  .circular-bar5::before{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    background: #e8f0f7;
    border-radius: 50%;
    
    
  }
  
  .percent5{
    z-index: 10;
    font-size: 30px;
  }



  #second{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr ;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }
  #second1{
	
	align-items: center;
	justify-content: center;
	
  height: 30vh;
 
	padding: 7%;
	border-radius: 15px;}

#second img{
    height: 150%;
	width: auto;
	
	margin-right: 15px;
    box-shadow: 0 4px 8px rgba(71, 149, 201, 0.9);
	transition: box-shadow 0.3s ease;
     
}
#secondcontenttitle{
    text-align: center;
    font-size: 400%;
}
#second1{
    text-align: center;
}
.contentbutton {
    border-radius: 4px;
    background-color: #38B6FF;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .contentbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .contentbutton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .contentbutton:hover span {
    padding-right: 25px;
  }
  
  .contentbutton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .contentbutton a{
    text-decoration: none;
    color: #FFFFFF;
  }
  nav ul li a.current {
    padding: 10px;
    background-color: var(--accent-color-1); 
    color: white; 
    }
    #footer{
    background-color: #38B6FF;
    height: 50vh;
  }
    
    .footer{
    background:#38B6FF;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:rgb(0, 0, 0);
    font-size:0.8em;
    }
    
    .footer .editor-link a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 0, 0);
    transition:0.5s;
    }
    .footer .row a{
      
      font-weight: bold;
      color:rgb(0, 0, 0);
      transition:0.5s;
      }
  
    a:-moz-last-node{
      background-color: red;
    }
  
    
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

   


