
body{
    color: #ededed;
    background: #081b29;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh; 
    background: url(/images/Nethu/nethuS.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.text span{
    color: #0ef;
    font-size: 100px;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    color: #0ef;
    transition: .5s ease;
    opacity: 1;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef;
    /* 0 0 25px #0ef */

}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan
}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 6rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img{
    padding-bottom: 20%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2{
    font-size: 60px;
}

.about-text h2 span{
    color: #0ef;
}

.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
  
.about-text p{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


section{
    display: flex;
    flex-wrap: wrap;
}

.containerS{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar{
    font-size: 23px;
}

.techBars .bar{
    margin-top: 40px 0;

}

.techBars .bar:first-child{
    margin-top: 0;
}

.techBars .bar .bar:last-child{
    margin-bottom: 0;
}
.techBars .bar .info{
    margin-bottom: 5px;
}

.techBars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.techBars .bar .progressLine{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}



.techBars .bar .progressLine span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progressLine.html span{
    width: 90%;
}
.progressLine.css span{
    width: 60%;
}
.progressLine.javascript span{
    width: 75%;
}

.progressLine.python span{
    width: 85%;
}

.progressLine.java span{
    width: 75%;
}

.progressLine span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progressLine.html span::after{
    content: "90%";
}
.progressLine.css span::after{
    content: "60%";
}
.progressLine.javascript span::after{
    content: "75%";
}
.progressLine.python span::after{
    content: "85%";
}
.progressLine.java span::after{
    content: "75%";
}

.progressLine span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;


}

.progressLine {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #000000; /* Change the color as needed */
}

.progressLine span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0ef; /* Change the color as needed */
    width: 0; /* Initial width of the progress line */
    transition: width 0.5s ease; /* Add smooth transition for width changes */
}

.subTitle{
    font-size: 40px;
}

.subTitle span{
    color: #0ef;
}


/* circular progress */

.containerR{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    left: 20%;

}

.containerR .radialBars{
    left: 0%;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background:linear-gradient(to right,transparent 50%, var(--clr)0);
}

.containerR .radialBars::before{
    content: "";
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.containerR .radialBars::after{
    content: "";
    position: absolute;
    inset: 5px;
    background: #081b29;
    border-radius: 50%;
}

.containerR .radialBars::before{
    background: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

.containerR .radialBars h3{
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 53%;
    z-index: 9;
    transform: translate(-50%,-50%);
    color: #fff;
    
}

.containerR .radialBars h4{
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    z-index: 9;
    transform: translate(-50%,-50%);
    color: #0ef;
}


/* my work */

.percentage, .text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 28px;
    color: #0ef;
}


.work {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

.work p {
    max-width: 600px; 
    margin: 20px 0; 
}

.ex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
}


.profile, .team, .article {
    flex: 1;
    max-width: 300px; 
    padding: 20px;
    background-color: #2c3e50; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile img, .team img, .article img {
    max-width: 100%; 
    border-radius: 8px; 
}






  
footer .navbar{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

footer .navbar a{
    color: #2c3e50;
    font-size: 20px;
    margin-left: 35px;
    margin-right: 35px;
    justify-content: center;
}

footer .navbar::before{
    content: "";
}

footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 10px 10%;
    background: #051129;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;   
    
}



/* Animations */


@keyframes fillFix {
    from { transform: rotate(180deg); }
    to { transform: rotate(540deg); }
}





@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;

    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}


