#svgContainer {
    max-width: 100%;
    height: auto;
}

/* title of the sitemap */

#mission h1 {
    font-size: 800%;
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    padding-top: 20%;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);

}


#mission-conatiner {
    height: 50%;


}

/* background of the title */
#first-backcolor {
    background: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;

}

/* rectangle classes */
.shape {
    cursor: pointer;
    shape-rendering: crispEdges;
    fill: url(#MyGradient1);
    /* Defining the pattern of dashes and gaps for the shape's stroke */

    stroke-dasharray: 140 540;
    /* Setting the initial offset of the dashed stroke */

    stroke-dashoffset: -474;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);

}



.shape4 {
    cursor: pointer;
    shape-rendering: crispEdges;
    fill: url(#MyGradient2);
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);


}

.shape5 {
    cursor: pointer;
    shape-rendering: crispEdges;
    fill: url(#MyGradient3);
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);

}

.shape3 {
    cursor: pointer;
    shape-rendering: crispEdges;
    fill: url(#MyGradient4);
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 1px;
    stroke: rgb(255, 255, 255);

}

/* animation for the rectangle */
@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        ;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 3px;
    }
}


/* hover effects with the animation */
.svg-wrapper:hover .shape3:hover {
    animation: draw 0.5s linear forwards;
    -webkit-animation: draw 0.5s linear forwards;

}

.svg-wrapper:hover .text:hover {
    fill: black;
}

.svg-wrapper:hover .shape:hover {
    animation: draw 0.5s linear forwards;
    -webkit-animation: draw 0.5s linear forwards;
}


.svg-wrapper:hover .shape4:hover {
    animation: draw 0.35s linear forwards;
    -webkit-animation: draw 0.35s linear forwards;
}


.svg-wrapper:hover .shape5:hover {
    animation: draw 0.5s linear forwards;
    -webkit-animation: draw 0.5s linear forwards;
}




/* texts inside the tectangle */
.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    fill: #ffffff;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);



}

/* container which includes svgs */
.style-box {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 20px;
    right: 30px;
    padding: 10px;
    border-radius: 5%;
    margin-bottom: 200px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* lines */
.shapeId2 {
    stroke: rgb(0, 0, 0);
    stroke-width: 2px;
}

.groupId2 polyline {
    stroke: black;
}

.shapeId2 polyline {
    stroke: black;
}