body {
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(../images/splash/background_earth_spin.gif);
    background-size: cover;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

/* Container Box */
#container {
    background: linear-gradient(90deg, hsla(193, 75%, 65%, 0.75) 0%, hsla(35, 68%,63%,0.75)86%);
    width: 80%; 
    height: 80%;
    min-height: 480px;
    justify-self: center;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    box-shadow: 0 4px 100px rgba(255, 255, 255, 0.75);

}

/* Logo name */
#logo-name{
    font-family: 'Montserrat', sans-serif;
    color: #7ED956;
    font-weight: 600;
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-bottom: 5px;
}

/* Logo */
#logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
#logo {
    width: 28%;
    margin: 0;

    /* Rotate animation */
    animation-name: rotatingLogo;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
/* Rotating logo keframe rules */
@keyframes rotatingLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Mission Statement */
#mission-container {
    font-style: italic;
    color: #0e5150; 
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(48, 157, 81, 0.731);
}
#mission{
    margin-top: 5%;
    margin-bottom: 5%;
    
}

/* Team members container */
#members-container {
    margin-top: 0;
    padding: 0;
}

/* Team Members Title */
#members-container h2 {
    color: rgb(151, 241, 112); 
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0;
}

/* Team Member Names */
#members-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}
#members-container li {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

/* Redirect to home page animation */
.fade-out {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

/* Format designed by message */
.designed-by {
    font-size: small;
    font-style: italic;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 79, 79);
}